<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza Diamond</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body style="padding-top: 70px;">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: #1b1d15; color: #e7ebec;">
        <div class="container">
            <a class="navbar-brand h1" href="/" style="font-family: 'Open Sans', 'Helvetica Neue' , 'sans-serif';">
                <svg class="bi bi-lightning-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M11.251.068a.5.5 0 01.227.58L9.677 6.5H13a.5.5 0 01.364.843l-8 8.5a.5.5 0 01-.842-.49L6.323 9.5H3a.5.5 0 01-.364-.843l8-8.5a.5.5 0 01.615-.09z"
                        clip-rule="evenodd" />
                </svg>
                The Flash Pizza</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="menu">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact">Contact</a>
                    </li>
                </ul>
                <div class="navbar-nav nav-item">
                    <a class="nav-link font-weight-lighter" href="signin" style="text-decoration: underline;">
                        Sign in
                        <svg class="bi bi-people" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.995-.944v-.002.002zM7.022 13h7.956a.274.274 0 00.014-.002l.008-.002c-.002-.264-.167-1.03-.76-1.72C13.688 10.629 12.718 10 11 10c-1.717 0-2.687.63-3.24 1.276-.593.69-.759 1.457-.76 1.72a1.05 1.05 0 00.022.004zm7.973.056v-.002.002zM11 7a2 2 0 100-4 2 2 0 000 4zm3-2a3 3 0 11-6 0 3 3 0 016 0zM6.936 9.28a5.88 5.88 0 00-1.23-.247A7.35 7.35 0 005 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 015 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10c-1.668.02-2.615.64-3.16 1.276C1.163 11.97 1 12.739 1 13h3c0-1.045.323-2.086.92-3zM1.5 5.5a3 3 0 116 0 3 3 0 01-6 0zm3-2a2 2 0 100 4 2 2 0 000-4z"
                                clip-rule="evenodd" />
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </nav>

    {% block body %}
    {% endblock %}

    <footer class="py-4 navbar-dark" style="background-color: #1b1d15; color: #e7ebec;">
        <div class="container">
            <div class="row">
                <nav class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-2 col-sm-6 mb-2">
                            <div class="navbar-brand">MAIN</div>
                            <ul class="navbar-nav">
                                <li class="nav-item"><a class="nav-link" href="#">Start Here</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">Portfolio</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">Meet Us</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-2 col-sm-6 mb-2">
                            <div class="navbar-brand">COMPANY</div>
                            <ul class="navbar-nav">
                                <li class="nav-item"><a class="nav-link" href="#">About</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">Help</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">Support</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">Jobs</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">Directory</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-2 col-sm-6 mb-2">
                            <div class="navbar-brand">FRANCHISE</div>
                            <ul class="navbar-nav">
                                <li class="nav-item"><a class="nav-link" href="#">Meetups</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">Handbook</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">Privacy</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">API</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">Equipment</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-2 col-sm-6 mb-2">
                            <div class="navbar-brand">NUTRITION</div>
                            <ul class="navbar-nav">
                                <li class="nav-item"><a class="nav-link" href="#">Information</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">Allergen</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">Sensitivity</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">Ingredient</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">FAQ</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>

                <div class="col-lg-4 col-sm-12 d-flex flex-column justify-content-lg-end justify-content-sm-center">
                    <div class="navbar-brand h1 d-flex justify-content-lg-end justify-content-sm-center my-n2" href="#"
                        style="font-family: 'Open Sans', 'Helvetica Neue' , 'sans-serif';">
                        <svg class="bi bi-lightning-fill" width="1em" height="1em" viewBox="0 0 16 16"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M11.251.068a.5.5 0 01.227.58L9.677 6.5H13a.5.5 0 01.364.843l-8 8.5a.5.5 0 01-.842-.49L6.323 9.5H3a.5.5 0 01-.364-.843l8-8.5a.5.5 0 01.615-.09z"
                                clip-rule="evenodd" />
                        </svg>
                        The Flask Pizza</div>
                    <div class="nav-item d-flex flex-row justify-content-lg-end justify-content-sm-center">
                        <a class="nav-link mx-n2" href="#">Privacy Policy</a>
                        <a class="nav-link mx-n2" href="#">Terms of Service</a>
                    </div>
                </div>
            </div>
    </footer>

    <script>
        // Disable form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                var forms = document.getElementsByClassName('needs-validation');
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/usm/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>