{% extends "layout.html" %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <h2 class="my-4">Start Your Order</h2>
            <div class="list-group">
                <a href="#pizza" class="list-group-item">The Flash Pizza</a>
                <a href="#pasta" class="list-group-item">The Flash Pasta</a>
                <a href="#sides" class="list-group-item">The Flash Sides</a>
            </div>
        </div>
        <div class="col-lg-9">
            <div id="carousel" class="carousel slide my-4" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel" data-slide-to="1"></li>
                    <li data-target="#carousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <img class="d-block img-fluid"
                            src="https://ph-ca-cdn.tillster.com/responsive/ph-canada/1585609782/img/home_hero_desktop.jpg"
                            alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block img-fluid"
                            src="https://ph-ca-cdn.tillster.com/responsive/ph-canada/1585609782/img/home_hero_desktop.jpg"
                            alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block img-fluid"
                            src="https://ph-ca-cdn.tillster.com/responsive/ph-canada/1585609782/img/home_hero_desktop.jpg"
                            alt="Third slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <h1 class="my-4" id="pizza">The Flash Pizza</h1>
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <img class="card-img-top"
                            src="https://cache.dominos.com/nolo/ca/en/6_8_11/assets/build/market/CA/_en/images/img/products/larges/S_PIZVSE.jpg"
                            alt="">
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Veggie</a>
                            </h4>
                            <h5>$24.99</h5>
                            <p class="card-text">A generous portion of our specially blended tomato sauce followed by a
                                layer of our premium mozzarella cheese topped with a medley of fresh green peppers,
                                mushrooms, and tomatoes.
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <img class="card-img-top"
                            src="https://cache.dominos.com/nolo/ca/en/6_8_11/assets/build/market/CA/_en/images/img/products/larges/S_PIZZZ.jpg"
                            alt="">
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Extravagan</a>
                            </h4>
                            <h5>$24.99</h5>
                            <p class="card-text">A medley of fresh green peppers, onion, tomatoes, mushrooms, and
                                olives.
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <img class="card-img-top"
                            src="https://cache.dominos.com/nolo/ca/en/6_8_11/assets/build/market/CA/_en/images/img/products/larges/S_BRKLYN.jpg"
                            alt="">
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Brooklyn Pizza</a>
                            </h4>
                            <h5>$24.99</h5>
                            <p class="card-text">Loads of pepperoni, ham, savory Italian sausage, beef crumble, fresh
                                onions, fresh green peppers, fresh mushrooms and black olives with extra cheese.
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <img class="card-img-top"
                            src="https://cache.dominos.com/nolo/ca/en/6_8_11/assets/build/market/CA/_en/images/img/products/larges/S_PIZAX.jpg"
                            alt="">
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">America Feast</a>
                            </h4>
                            <h5>$24.99</h5>
                            <p class="card-text">Specifically engineered to be big, thin, and perfectly foldable.
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <img class="card-img-top"
                            src="https://cache.dominos.com/nolo/ca/en/6_8_11/assets/build/market/CA/_en/images/img/products/larges/S_PIZBQ.jpg"
                            alt="">
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">BBQ Chicken Feast</a>
                            </h4>
                            <h5>$24.99</h5>
                            <p class="card-text">Smothered in flavorful BBQ sauce and loaded with chicken, bacon,
                                onions, green peppers and cheddar cheese.
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <img class="card-img-top"
                            src="https://cache.dominos.com/nolo/ca/en/6_8_11/assets/build/market/CA/_en/images/img/products/larges/S_PIZBX.jpg"
                            alt="">
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Bacon Cheddar</a>
                            </h4>
                            <h5>$24.99</h5>
                            <p class="card-text">Beef crumble and smoked bacon topped with cheddar cheese.
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                    </div>
                </div>
            </div>

            <h1 class="my-4" id="pasta">The Flash Pasta</h1>
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <img class="card-img-top"
                            src="https://cache.dominos.com/nolo/ca/en/6_8_11/assets/build/market/CA/_en/images/img/products/larges/S_ALFR.jpg"
                            alt="">
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Chicken Alfredo</a>
                            </h4>
                            <h5>$24.99</h5>
                            <p class="card-text">Grilled 100% all white meat chicken and Alfredo sauce baked to a creamy
                                goodness with penne pasta.
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <img class="card-img-top"
                            src="https://cache.dominos.com/nolo/ca/en/6_8_11/assets/build/market/CA/_en/images/img/products/larges/S_MARIN.jpg"
                            alt="">
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Italian Sausage</a>
                            </h4>
                            <h5>$24.99</h5>
                            <p class="card-text">Penne pasta baked in a zesty marinara sauce with Italian sausage, a
                                blend of Italian seasonings and Provolone cheese.
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <img class="card-img-top"
                            src="https://cache.dominos.com/nolo/ca/en/6_8_11/assets/build/market/CA/_en/images/img/products/larges/S_CARB.jpg"
                            alt="">
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Chicken Carbonara</a>
                            </h4>
                            <h5>$24.99</h5>
                            <p class="card-text">Grilled 100% all white meat chicken, bacon, onions and mushrooms mixed
                                with penne pasta and baked to perfection with creamy Alfredo sauce.
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <img class="card-img-top"
                            src="https://cache.dominos.com/nolo/ca/en/6_8_11/assets/build/market/CA/_en/images/img/products/larges/S_PRIM.jpg"
                            alt="">
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Pasta Primavera</a>
                            </h4>
                            <h5>$24.99</h5>
                            <p class="card-text">Fresh tomatoes, fresh baby spinach, green peppers, mushrooms and onions
                                are mixed and baked to perfection with creamy Alfredo sauce.
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                    </div>
                </div>
            </div>

            <h1 class="my-4" id="sides">The Flash Sides</h1>
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <img class="card-img-top"
                            src="https://cache.dominos.com/nolo/ca/en/6_8_11/assets/build/market/CA/_en/images/img/products/larges/S_SCCBT.jpg"
                            alt="">
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Crispy Chicken</a>
                            </h4>
                            <h5>$24.99</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet
                                numquam
                                aspernatur!</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <img class="card-img-top"
                            src="https://cache.dominos.com/nolo/ca/en/6_8_11/assets/build/market/CA/_en/images/img/products/larges/S_SCCHB.jpg"
                            alt="">
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Special Chicken</a>
                            </h4>
                            <h5>$24.99</h5>
                            <p class="card-text">Tender bites of lightly breaded, 100% whole breast white meat chicken,
                                topped with garlic parmesan white sauce, a blend of cheese made with mozzarella and
                                cheddar, crispy bacon and tomato.
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <img class="card-img-top"
                            src="https://cache.dominos.com/nolo/ca/en/6_8_11/assets/build/market/CA/_en/images/img/products/larges/S_SCSJP.jpg"
                            alt="">
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Spicy Chicken</a>
                            </h4>
                            <h5>$24.99</h5>
                            <p class="card-text">Tender bites of lightly breaded, 100% whole breast white meat chicken,
                                topped with classic hot buffalo sauce, ranch, a blend of cheese made with mozzarella and
                                cheddar, and feta.
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <img class="card-img-top"
                            src="https://cache.dominos.com/nolo/ca/en/6_8_11/assets/build/market/CA/_en/images/img/products/larges/S_SCSBBQ.jpg"
                            alt="">
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Sweet BBQ Bacon</a>
                            </h4>
                            <h5>$24.99</h5>
                            <p class="card-text">Tender bites of lightly breaded, 100% whole breast white meat chicken,
                                topped with sweet and smoky BBQ sauce, a blend of cheese made with mozzarella and
                                cheddar, and crispy bacon.
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <img class="card-img-top"
                            src="https://cache.dominos.com/nolo/ca/en/6_8_11/assets/build/market/CA/_en/images/img/products/larges/S_BONELESS.jpg"
                            alt="">
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Boneless Chicken</a>
                            </h4>
                            <h5>$24.99</h5>
                            <p class="card-text">Our boneless chicken is lightly breaded with savoury herbs, made with
                                100% white breast meat. Comes with our signature BBQ sauce for dipping.
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <img class="card-img-top"
                            src="https://cache.dominos.com/nolo/ca/en/6_8_11/assets/build/market/CA/_en/images/img/products/larges/S_BONEIN.jpg"
                            alt="">
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#">Wings</a>
                            </h4>
                            <h5>$24.99</h5>
                            <p class="card-text">Our chicken wings are now tastier than ever. Sauced with your choice of
                                Hot, Honey Garlic, BBQ, or Mango Habanero.
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}